@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

@font-face {
    font-family: Forever;
    src: url(../font/Foreverbrushscript-GwZy.otf);
  }

*::-webkit-scrollbar {
    width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: #643db4;
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a5b9c5;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 133, 255,1);
}
html, body{
    font-family: "Nunito", serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

.fit-page{
    display: flex;
    flex-direction: column;
}

.hero {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-home {
    background-image: url("../img/background-home.png");
    background-repeat: no-repeat;
}
.btn-header {
    font-size: 1rem;
}

.heading-title {
    font-size: 5rem;
    font-weight: 800;
}
@media only screen and (max-width: 768px) {
    .heading-title {
        font-size: 4rem;
    }

    .padding-smallSize {
        padding: .5rem;
    }
}

@media only screen and (max-width: 538px) {
    .heading-title {
        font-size: 3rem;
    }

    .search-bar {
        padding: 0 !important;
    }
}

.heading-title_white {
    color: #fafafa;
}
.heading-subtitle {
    color: #fafafa;
    letter-spacing: .2cm;
}
.search-bar {
    padding: .51rem 0.5rem;
    background-color: white;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}

.card-img-box {
    height: 12rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forever {
    font-family: Forever, serif;
    font-size:2rem
}

.footer-color {
    background-color:#6044a4;
}

.account-navigation-left {
    background: #3c345e59;
    backdrop-filter: blur(3px);
    border-radius: 30px 0 0 30px;
}

.account-navigation-right {
    border-radius: 0 30px 30px 0;
    box-shadow: 0 10px 15px -4px #000000;
    min-height: 50rem;
    max-height: 60rem;
}

@media only screen and (max-width: 991px) {
    .account-navigation-right {
        border-radius: 0 0 30px 30px;
    }

    .account-navigation-left {
        border-radius: 30px 30px 0 0;
    }
}

.menu-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #fff;
}

.menu-active {
    border-left: 5px solid #fff;
}

.side-nav-link, .side-nav-link:hover {
    color: #fff;
}

.side-nav-item.active:hover {
    padding-right:5px;
}

.side-nav-item {
    transition: all  0.3s;
}

.side-nav-item:hover, .side-nav-item.active {
    border-left: 5px solid #fff;
    transition: all 0.3s;
}

.btn-purple {
    color: #fff;
    background-color: rgba(149, 133, 255,1);
    border-color: rgba(149, 133, 255,1);
}

.btn-purple:hover {
    color: #fff;
    background-color: rgba(186,175,255,1);
    border-color: rgba(186,175,255,1);
}

.detail-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.users {
    height: 15rem;
}

.user-name {
    font-size:1.5rem;
}

.user-img {
    height: 2rem;
    width: 2rem;
    border-radius:50%;
}

.btn-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.btn-icon-active {
    fill: #ffffff;
}

.fast {
    transition: all 0s;
}

.bg-main {
    background-color: #e4e6eb !important;
}

.cover-img {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

/* Reviews */

.rating-icon {
    fill: #FBC02D;
    height: 1rem;
    width: 1rem;
}

.review-card {
    border-radius: 5px;
    background-color: #fafafa;
    margin-top: 30px;
    padding: 30px 60px;
}

.rating-box {
    width: 130px;
    height: 130px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FBC02D;
    color: #fff
}

.rating-label {
    font-weight: bold
}

.rating-bar {
    width: 300px;
    padding: 8px;
    border-radius: 5px
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px
}

.bar {
    height: 13px;
    background-color: #FBC02D;
    border-radius: 20px
}


.star-active {
    color: #FBC02D;
    margin-top: 10px;
    margin-bottom: 10px
}

.star-active:hover {
    color: #F9A825;
    cursor: pointer
}

.star-inactive {
    color: #CFD8DC;
    margin-top: 10px;
    margin-bottom: 10px
}

.blue-text {
    color: #0091EA
}

.form-error {
    color: red;
}

.content {
    font-size: 18px
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 30px
}

.pic {
    width: 80px;
    height: 80px;
    margin-right: 10px
}
/* ## Rating stars*/

.starrating > input {display: none;}

.starrating > label:before {
    content: "\f005";
    margin: 2px;
    font-size: 2rem;
    font-family: FontAwesome,SansSerif;
    display: inline-block;
}

.starrating > input:checked ~ label
{ color: #ffca08 ; }

.starrating > input:hover ~ label
{ color: #ffca08 ;  }


.header-logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
.form-gp-header {
    border-radius: 30px 30px 0 0;
    background-color: #ffffff2b;
    backdrop-filter:blur(1px);
}

.form-gp-body {
    border-radius: 0 0 30px 30px;
    box-shadow: 0 10px 15px -4px #000000;
}

.form-gp-link:visited,.form-gp-link,.form-gp-link:hover {
    color:#7e74ff
}

.form-gp {
    margin-bottom: 25px;
    position: relative;
}

.form-gp label {
    margin: 0;
    color: #b3b2b2;
    transition: all 0.3s ease-in-out 0s;
}

.form-gp.focused label {
    color: #7e74ff;
    transform: scale(1.1);
}

.form-gp.focused input {
    outline: none !important;
}

.form-gp span {
    display: block;
}

.form-gp input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
}
.form-gp textarea {
    margin-top: 0.4rem;
    padding: 1rem;
    border-radius: 10px;
    border-color: #e6e6e6;
    width: 100%;
    height: 8rem;
}

.form-gp textarea:focus-visible {
    outline: grey 2px;
}
.form-gp input::-webkit-input-placeholder {
    color: #dad7d7;
}

.form-gp input::-moz-placeholder {
    color: #dad7d7;
}

.form-gp input:-ms-input-placeholder {
    color: #dad7d7;
}

.form-gp input:-moz-placeholder {
    color: #dad7d7;
}

.form-gp svg {
    position: absolute;
    right: 5px;
    fill: #7e74ff;
    font-size: 16px;
}

.form-gp select:focus {
    box-shadow: 0 0 0 0!important;
}

.form-gp select {
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    /* border-bottom: 3px black; */
    border-color: #7e74ff !important;
    border-radius: 0 !important;
}


.form-gp.has-error, .form-gp.has-error label, .form-gp.has-error input, .form-gp.has-error input::placeholder, .form-gp.has-error i {
    color: var(--red);
}

.status {
    margin: 0;
    display: inline;
    border-radius: 30px;
    color: white;
    font-size: .8rem;
    padding: 0.1rem 0.4rem;
    font-weight: 500;
}

.status-ongoing {
    background: #db7b2b ;
}

.status-finished {
    background: #cc3232;
}

.status-upcoming {
    background: #2dc937;
}

.status-home {
    position: absolute;
    right: 5px;
    top: 10px;
}


/* Cards */

.event-card {
    perspective:150rem;
    background-color: transparent;
    height: 20rem;
}

.card-img {
    height:16rem;
    background-size: cover;
    background-position: center;
}

.card__side {
    height:20rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    margin: 0 auto;
    backface-visibility: hidden;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 3px 13px -4px #000000;
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #f8ceec;
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}


.card__side--front {
    background-color: #fff;
}

.card:hover .card__side--front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.card-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: white;
}

.event__page-header {
    font-weight: 800;
    font-size: 3rem;
    color: #a5b9c5;
}

.shadow-box {
    box-shadow:0 3px 13px -4px #000000;
}

/* EMAIL SECTION */
.section-email {
    width: 100%;
    background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%),url("../img/ensa_bg.png");
    background-size: cover;
    background-position: center;
}

.section-email_container {
    height: 85%;
}


.form-home input {
    background-color: transparent;
    border-bottom: 1px solid #7e74ff !important;
}

.form-home textarea {
    border-color: #7e74ff !important;
}

.form-home_button-success {
    background-color: lightgreen;
    border-color: lightgreen;
}

.form-home_button-fail {
    background-color: lightcoral;
    border-color: lightcoral;
}

@media only screen and (max-width: 768px) {
    .section-email {
        background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 100%),url("../img/ensa_bg.png");
    }

    .form-home,.form-home_button{
        width: 100% !important;
    }
}

/*==== 404 ====*/

#container {
    width: 550px;
    margin: 90px 160px;
}
#container * {
    margin-bottom: 50px;
    color: #383737;
}
#container h1 {
    width: auto;
    display: inline-block;
    font-size: 7em;
    line-height: 100%;
    letter-spacing: 0.2em;
    text-shadow: 8px -3px 0 rgba(240, 85, 85, .6), -10px 5px 0 rgba(72, 104, 244, .6), 9px 7px 0 rgba(255, 219, 89, .6);
    transition: all 0.2s ease;
}
#container h1:hover {
    text-shadow: 4px -1px 0 rgba(240, 85, 85, .6), -5px 2px 0 rgba(72, 104, 244, .6), 6px 3px 0 rgba(255, 219, 89, .6);
    transition: all 0.2s ease;
}
#container h3 {
    font-size: 2.5em;
}
#container a {
    padding: 15px 15px;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    background-color: rgba(240, 85, 85, .9);
    box-shadow: -7px 7px 0 rgba(72, 104, 244, .7), -12px 12px 0 rgba(255, 219, 89, .8);
    transition: all 0.2s ease;
}
#container a:hover {
    box-shadow: -3px 3px 0 rgba(72, 104, 244, .7), -6px 6px 0 rgba(255, 219, 89, .8);
    transition: all 0.2s ease;
}
